.link {
  white-space: nowrap;
  color: #c9d0d4;
  font-size: 25px;
  padding-bottom: 20px;
  animation-name: link;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  opacity: 0%;
}

@keyframes link {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

.link2 {
  white-space: nowrap;
  color: #c9d0d4;
  font-size: 25px;
  padding-bottom: 20px;
  animation-name: link2;
  animation-duration: 2s;
  animation-delay: 4.5s;
  animation-fill-mode: forwards;
  opacity: 0%;
}

@keyframes link2 {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

.help-block {
  color: #999999;
  font-size: 20px;
}

#first {
  transition: 0.3s ease;
  animation-name: icon;
  animation-duration: 3.5s;
}

@keyframes icon {
  from {
    width: 130px;
    opacity: 0%;
  }

  to {
    width: 650px;
    opacity: 100;
  }
}

.login {
  text-align: center;
}

.input {
  font-family: inherit;
  width: 400px;
  border-radius: 15px;
  border: 2px solid #a64dff;
  outline: 0;
  font-size: 1.3rem;
  color: white;
  padding: 7px 7px;
  background: transparent;
  transition: border-color 0.2s;
  text-align: center;
  transition: 0.3s ease;
}

.input::placeholder {
  display: center;
}

.input:focus::placeholder {
  opacity: 0;
}

.button {
  font-family: inherit;
  width: 200px;
  border-radius: 15px;
  border: 2px solid #a64dff;
  outline: 0;
  font-size: 1.3rem;
  color: #c9d0d4;
  padding: 7px 7px;
  background: transparent;
  transition: 0.3s ease;
}

.button:hover {
  background-color: #a64dff;
  transition: 0.3s ease;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  font-size: 1.5rem;
  background: url("/ok/image.png");
  color: white;
}

.spacing {
  padding: 20px;
  transition: 0.3s ease;
}

.title {
  width: 25ch;
  overflow: hidden;
  white-space: nowrap;
  -webkit-animation: type 2.2s steps(200);
  animation-delay: 1s;
  animation-fill-mode: forwards;
  color: rgba(0, 0, 0, 0);
}

@keyframes type {
  0% {
    color: #c9d0d4;
    width: 0;
  }

  100% {
    color: #c9d0d4;
  }
}

/*----------------------------------------------------------*/
/* MOBILE */
/*----------------------------------------------------------*/

@media screen and (max-width: 800px) {
  body {
    padding-bottom: 50px;
  }

  .mhoe {
    display: none;
  }

  .space1 {
    font-size: 10px;
  }

  .input {
    font-size: 18px;
    width: 230px;
    height: 30px;
    transition: 0.3s ease;
    padding: 0px;
  }

  .button {
    width: 150px;
    height: 38px;
    font-size: 18px;
    padding: 3px 3px;
    transition: 0.3s ease;
  }

  #first {
    width: 350px;
    transition: 0.3s ease;
    padding: 0px;
  }

  @keyframes icon {
    from {
      width: 150px;
      opacity: 0%;
    }

    to {
      width: 350px;
      opacity: 100%;
    }
  }

  .spacing {
    padding: 10px;
    transition: 0.3s ease;
  }

  .title {
    font-size: 25px;
    transition: 0.3s ease;
    padding: 0px;
  }

  .navbar {
    display: none;
  }

  .link {
    padding-bottom: 5px;
    font-size: 13px;
  }

  .link2 {
    padding-bottom: 0px;
    font-size: 13px;
  }

  .help-block {
    font-size: 10px;
  }
}
